<app-header></app-header>
<app-sidebar></app-sidebar>
<main class="pl-200">

  <!-- breadcrumb-section - start
        ================================================== -->
  <section id="breadcrumb-section" class="breadcrumb-section bg-white clearfix">
    <div class="container">
      <nav class="breadcrumb-nav ul-li clearfix">
        <ul class="clearfix">
          <li><a href="#!">Customer</a></li>
          <li><a href="#!">Cluster</a></li>
          <li>Stack</li>
        </ul>
      </nav>
    </div>
  </section>
  <!-- breadcrumb-section - end
        ================================================== -->



  <!-- cluster-section - start
        ================================================== -->
  <section id="cluster-section" class="cluster-section sec-ptb-60 clearfix">
    <div class="container">

      <div class="section-title mb-15">
        <h2 class="title-text mb-0">CIS Benchmarking</h2>
      </div>

      <div class="item-wrapper min-h-auto">
        <div class="row justify-content-center d-flex align-items-center">
          <div class="col-lg-4 text-center">
            <div class="chart-image mb-30">
              <img src="../../assets/images/pie_chart_2.png" alt="image_not_found">
            </div>
            <a href="#!" class="custom-btn bg-default-orange rounded text-uppercase">Get Report</a>
          </div>

          <div class="col-lg-6">
            <div class="row mb-60 d-flex align-items-center">
              <div class="col-lg-6 col-md-4 col-sm-12">
                <div class="info-list ul-li-block clearfix">
                  <ul class="clearfix">
                    <li>
                      <img src="../../assets/images/icons/icon_14.png" alt="icon_not_found">
                      Pass
                    </li>
                    <li>
                      <img src="../../assets/images/icons/icon_11.png" alt="icon_not_found">
                      Info
                    </li>
                    <li>
                      <img src="../../assets/images/icons/icon_9.png" alt="icon_not_found">
                      Warn
                    </li>
                    <li>
                      <img src="../../assets/images/icons/icon_10.png" alt="icon_not_found">
                      Fail
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-lg-6 col-md-4 col-sm-12">
                <div class="score-content text-center">
                  <p class="mb-15">
                    Compliance <br> Score
                  </p>
                  <span class="score-text bg-default-orange">
												43
											</span>
                </div>
              </div>
            </div>
            <div class="time-content">
              <p class="mb-1">Last scanned on :</p>
              <span>04:30 PM on 11/16/2019</span>
            </div>
          </div>
        </div>
      </div>

      <div class="item-wrapper">
        <div class="chart-image mb-30">
          <img class="w-100" src="../../assets/images/chart.png" alt="image_not_found">
        </div>
      </div>

    </div>
  </section>
  <!-- cluster-section - end
        ================================================== -->

</main>
