<app-header></app-header>
<app-sidebar></app-sidebar>
<main class="pl-200">

  <!-- breadcrumb-section - start
        ================================================== -->
  <section id="breadcrumb-section" class="breadcrumb-section bg-white clearfix">
    <div class="container-fluid">
      <nav class="breadcrumb-nav ul-li clearfix">
        <ul class="clearfix">
          <li><a href="#!">Customer : </a>{{customerData.license_key}}</li>
          <li><a href="#!">Cluster : </a>{{customerData.cluster_name}}</li>
          <li>Stack : {{customerData.cnox_stack}}</li>
        </ul>
      </nav>
    </div>
  </section>
  <!-- breadcrumb-section - end
        ================================================== -->


  <!-- cluster-section - start
        ================================================== -->
  <section id="cluster-section" class="cluster-section sec-ptb-60 clearfix">
    <div class="container-fluid">

      <div class="section-title mb-15">
        <h2 class="title-text mb-0">ALL Workloads</h2>
      </div>

      <div class="item-wrapper min-h-auto">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-8 col-md-6 col-sm-12">
            <div class="chart-image">
              <canvas baseChart
                      [data]="pieChartData"
                      [chartType]="pieChartType"
                      [labels]="pieChartLabels"
                      [options]="pieChartOptions"
                      [colors]="pieChartColors"
              ></canvas>
            </div>
          </div>
          <div class="time-content">
            <p class="mb-1">Last scanned on :</p>
            <span>{{lastScanValue}}</span>
          </div>
          <!--<div class="col-lg-4 col-md-6 col-sm-12">
            <div class="info-list ul-li-block clearfix">
              <ul class="clearfix">
                <li>
                  <img src="assets/images/icons/icon_11.png" alt="icon_not_found">
                  Info
                </li>
                <li>
                  <img src="assets/images/icons/icon_9.png" alt="icon_not_found">
                  Warn
                </li>
                <li>
                  <img src="assets/images/icons/icon_10.png" alt="icon_not_found">
                  Error
                </li>
              </ul>
            </div>
          </div>-->
        </div>
      </div>

      <div class="item-wrapper">
        <div class="wrapper-head text-center">
          <h3 class="title-text mb-0">Top Non- Compliant Workloads</h3>
        </div>
        <div class="cnox-protection-section">
          <div class="cnox-protection-table">
            <div class="table-container tbody-container">
              <table class="table">
                <thead>
                <tr>
                  <th scope="row">Workload</th>
                  <th>Error</th>
                  <th>Warn</th>
                  <th>Info</th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let key of keys" r>
                  <th scope="row">{{key}}</th>
                  <td>{{workLoadData[key].E}}</td>
                  <td>{{workLoadData[key].W}}</td>
                  <td>{{workLoadData[key].I}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- cluster-section - end
        ================================================== -->

</main>
