/* footer section - start
==================================================================================================== */
.footer-section {
	padding: 30px 0px;
	background-color: #2b2a2a;
	p {
		font-size: 16px;
		color: $pure-white;
		font-family: $heading-font;
	}
}
/* footer section - end
==================================================================================================== */